#buyDisplay, #itemDisplay {
	width: 100%;
}

#buySelector, #itemMenu {
	width: 180px;
	margin-left: 10px;
	float: left;
}

#buySelector, #itemSelector, #itemDisplaySelector {
	padding: 5px;
}

.columnedSelectorList li {
	margin: 3px;
	cursor: pointer;
	font-size: 80%;
}

.columnedSelectorList div.current {
	height: 14px;
	width: 14px;
	float: left;
	margin: 5px 5px 0px 0px;
	background-position: -148px -26px;
}

.columnedSelectorList li:hover {
	background-color: #FFFFFF;
}

.columnedSelectorList li.parent {
	margin-top: 10px;
	cursor: auto;
}

.columnedSelectorList li.parent:hover {
	background-color: inherit;
}

.columnedSelectorList li a {
	display: block;
	padding: 5px 10px 5px 10px;
}

.columnedSelectorList li.parent a {
	padding: 5px 10px 5px 5px;
	color: #000000;
	font-weight: 500;
	font-size: 110%;
	text-decoration: underline;
}

.columnedContent {
	margin: 10px 10px 0px 210px;
}