#title {
	margin: 0px auto 0px auto;
	width: 350px;
}

#content {
	margin: 15px auto 0px auto;
	padding: 10px;
	width: 800px;
	text-align: center;
}

#listInfo {
	margin: 15px 0px 0px 15px;
    text-align: left;
    font-size: 90%;
}