.linker {
    float: left;
	height: 40px;
}

.linker a {
    display: inline-block;
    margin: 0px;
    width: 100px;
	height: 40px;
	text-decoration: none;
    font-size: 70%;
}

.linker h3 {
    margin-top: 2px;
    color: #000000;
}